.signup-page {
  margin: .5rem;
}

.signup-page__title {
  color: #32A48F;
  font-size: 30px;
  font-weight: bold;
}

.signup-page__form {
  margin: 0.5rem;
}

.signup-page__button {
  display: block;
  margin: 0 auto;
  background-color: #32A48F;
  width: 20rem;
  border-radius: 3px;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 20px;
}

.ant-table-wrapper {
  width: 100% !important;
}

/* .ant-table-tbody > tr > td {
  padding: 16px 5px;
}
.ant-time-picker-icon {
  right: 25px;
} */
.ant-time-picker {
  width: 95px !important;
}
.ant-time-picker-input {
  padding: 4px 2px;
}
.ant-time-picker-icon {
  right: 6px;
}
.ant-table, .table {
/* table-layout: fixed !important;
width: 100% !important; */
}

@media only screen and (min-width: 768px) { 

}
