.ant-btn.filter__submit-button {
    background-color: #32A48F;
    color: #FFFFFF;
    font-size: 1.125rem;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
    width: 345px;
    margin: 0.4rem auto;
    display: block;
    cursor: pointer;
    height: 46px;
}

.ant-form-item-children { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.ant-switch-checked {
    background-color: #32A48F !important;
}

.ant-btn-primary {
    background-color:#32A48F !important;    
}

.label__swich-btn {
    display: flex !important;
    justify-content: space-between;
}

.ant-form-item-label > label {
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto, sans-serif;
    font-size: 1.125rem;
}

.ant-collapse-content {
    overflow: visible;
}    

.ant-form-item > label {
    font-family: Roboto, sans-serif;
    font-size: 1.125rem;
}
