.filter__submit-button {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #32A48F;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 18px;
    font-family: Roboto;
    cursor: pointer;
    width: 100%;
    height: 46px;
    color: #fff;
}

.ant-form-item-children { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.ant-switch-checked {
    background-color: #32A48F !important;
}

.ant-btn-primary {
    background-color:#32A48F !important;    
}

.label__swich-btn {
    display: flex;
    justify-content: space-between;
}

.label__swich-btn {
    display: flex !important;
}
