.about-page {
  margin: 0.5rem;
}

.about-page__title {
  color: #32a48f;
  font-size: 30px;
  font-weight: bold;
}

.about-page__point {
  color: #1c5c50;
  font-size: 16px;
}

.about-page__content {
  font-size: 14px;
  color: #242424;
  text-align: justify;
  margin-right: 1rem;
  line-height: 1.5;
  margin-top: 4px;
}

@media only screen and (min-width: 768px) { 
  .about-page {
    margin: 2rem;
}
}
