.home {
    margin-top: 0px;
}

.home__header {
    margin: 6rem auto 1.5rem auto;
    display: flex;
    width: 90%;
    justify-content: center;
}

.home__box {
    margin-top: 52px;
}

.home__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    color: #32A48F;
    line-height: 2px;
}

.home__subTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    color: #32A48F;
}

.home__description {
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    color: #1C7867;
    margin: 0px 30px 30px 30px;
    text-align: center;
}

.home_buttons {
    margin-top: 80px;
    margin-left: 5px ;
    margin-right: 5px; 
}

.home__buttons__types-btn,
.home__buttons__filter-btn {
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #32A48F;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    width: 345px;
    margin: 0.4rem auto;
    display: block;
    cursor: pointer;
    height: 46px;
    color: #fff;
}

.home__buttons__types-icon {
    margin-right: 5px;
}

.home__signup {
    margin-top: 2rem;
    text-align: center
}

.home__signup__question {
    text-align: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    margin-right: 10px;
}

.home__signup-link {
    color: #45CBB2;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

@media (min-width: 768px) {
    .home__description {
        font-size: 1.3rem;
        margin: 0px 30px 0 30px;
    }

    .home__image > svg{
        width: 150px;
        height: 250px;
    }

    .home__box {
        margin-top: 100px;
        margin-left: 3rem;
    }

    .home_buttons {
        margin-top: 4rem;
    }

    .home__buttons__types-btn,
    .home__buttons__filter-btn {
        width: 40rem;
        margin-top: 7px;
        padding: 1rem;
        height: 3.6rem;
        font-size: 18px;
    }
    .home__title {
        font-size: 4rem;
    }
    .home__header {
        margin: 1.4rem auto -2.5rem auto;
    }
    .home__signup__question {
        font-size: 22px;
    }
}
