.Filter-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__form {
  width: 90%;
}

.filter__title,
.card__title
 {
  font-family: Sansation;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  width: 100%;
  color: #242424;
  margin-left: 20px; 
}

.card__title {
  font-size: 22px;
}

.filter__brack-line {
  background-color: #45CBB2;
  height: 2px;
  border: 1px solid #45CBB2;
  width: 85%;
  margin: 30px;
}
