.Filter-page__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.Filter-page__container > .ant-form {
  margin-top: 1rem;
}

.Filter-page__container > .ant-collapse {
  width: 85vw;
}

.filter__form {
  width: 90%;
}

.filter__title,
.card__title
 {
  color: #32A48F;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  width: 100%;
  margin-left: 20px 0; 
}

.card__title {
  font-size: 22px;
}

.filter__brack-line {
  background-color: #45CBB2;
  height: 2px;
  border: 1px solid #45CBB2;
  width: 85%;
  margin: 30px 0;
}

@media (min-width: 768px) {
  
  .Filter-page__container {
    width: 66vw;
    margin: 0 auto;
    padding-top: 3rem;
  }

  .Filter-page__container > .ant-collapse {
    width: 56vw;
  }

  .Filter-page__container > .ant-btn-primary {
    height: 3rem;
  }

  .Filter-page__container .ant-btn {
    height: 3rem;
  }

  .Filter-page__container .ant-switch {
    margin: 8px 0 !important;
  }

  .card__title {
    margin-bottom: 1.5rem;
  }
}
