.glossary_container {
  background: #E0E0E0;
  width: 100vw;
  min-height:100vh;
  padding: 1rem 1rem 0 1rem;
}

.glossary_content {
  color: #32A48F;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}

.ant-input-search {
  width: 95% !important;
  margin-bottom: 20px;
}

.glossary_container > h1 {
  margin-bottom: 3rem;
  font-size: 1.7rem;
}

@media (min-width: 768px) {

  .glossary_container {
    margin: 0 auto;
    width: 52.5rem;
    padding: 3rem;
  }

  .glossary_content {
    font-size: 1.2rem ;
  }
}
