.glossary_title {
  color: #32a48f;
  font-weight: 900;
  font-family: Roboto;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.glossary_description {
  font-family: Roboto;
  padding: 0 1.5rem 0.5rem 0.5rem;
}

.glossary_table {
  display: block;
  margin: 0 auto;
}
