.input-label{
    display: inline-block;
    padding: 10px 20px;
    font-family: Roboto;
    font-size: 14px;
    transition: all 0.7s ease-in-out;
   
}
.radio__input{
    width:20px;
    height:20px;
}