.questionary__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.questionary__title {
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #32A48F;
}

@media (max-width: 480px){
    .ant-steps-label-horizontal{
        display: flex !important;
        margin:0 auto;  
        width: 90%;
    }
    .ant-steps-horizontal.ant-steps-label-horizontal > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
        display: none;
        transform:rotate(270deg);
        padding: 18px 0 0px !important;
        top: -15px;
        left: 20px;
    }
}

.ant-steps-item-container {
    margin: 0 !important;
}

.ant-steps-item-icon {
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: 0 !important;
    font-size: 10px;
    z-index: -1;
}

.ant-radio-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 30vh;
    margin: 30px 0; 
}

.ant-radio-checked {
    height: 16px;
}

.ant-steps-item-process .ant-steps-item-icon {
    background: #32A48F;
    border: none;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background: #32A48F
}

.ant-radio-wrapper {
    margin-bottom: 20px; 
    margin-left: 20px;
}

.steps-content {

    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.big-Qusetion {
    padding-top: 20px;
    font-size: 1rem !important;
}

.qusetion {
    width: 100%;
    min-height: 10vh;
    margin: 0;
    margin-top: 10px;
    font-size: 1.1rem;
    padding: 0 20px;
}

.Questionary__form .ant-radio {
    margin-right: 10px;
}

.Questionary__form .ant-form label {
    width: 100%;
}
.qusetion__span {
    display: flex;  
    white-space: normal;
}

.Questionary__form {
    width: 100%;
}

.steps-action {
    display: flex;
    justify-content: center;
}
