.btn {
  text-align: center;
    text-decoration: none;
    border: none;
    background-color: #32A48F;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 18px;
    font-family: Roboto;
    cursor: pointer;
    width: 160px;
    height: 46px;
    color: #fff;
}
