.card__photo {
    border: 1px solid gray;
    background-color:#82D9C9; 
    width:100px;
}

.card__price {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #33000E;
}

.card__header {
    font-family: Sansation, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #242424;
    background: '#f7f7f7';
    border-radius: 4px;
    margin-bottom: 20px;
    border: 0;
    overflow: 'hidden';
}

.card__content {
    display: flex;
    justify-content: space-around;
    background-color: #E0E0E0;
}

.card__approach, 
.card__type {
    font-family: Sansation, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #33000E;
}

.card__type {
    font-size: 14px;
}

.ant-collapse-item ,
.ant-collapse-item-active,
 .card__header {
    background-color: #C4C4C4 !important;
}

.ant-collapse-header,
.ant-collapse-content,
.ant-collapse-content-active {
    background-color: #E0E0E0 !important;
}

@media (min-width: 768px) {
    .ant-collapse-content > .ant-collapse-content-box {
        padding: 4.2rem;
    }

    .cardContent_info {
        padding: 1.3rem;
    }

    .card__content {
        justify-content: space-between;
    }
}
