.types-page {
  margin: 2rem 0.5rem;
}

.types-page__title {
  color: #32a48f;
  font-size: 30px;
  font-weight: bold;
}

.types-page__content {
  font-size: 14px;
  color: #242424;
  text-align: justify;
  margin-right: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  padding: 0 0.6rem;
}
@media only screen and (min-width: 768px) { 
  .types-page {
    margin: 2rem;
  }
}
