.types-page {
  margin: 2rem 0.5rem;
}

.types-page__title {
  color: #32A48F;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.types-page__content {
  font-size: 0.875rem;
  color: #242424;
  text-align: justify;
  margin-right: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  padding: 0 0.6rem;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
font-family: Roboto, sans-serif;
}

@media only screen and (min-width: 768px) { 
  .types-page {
    margin: 2rem;
  }
}
